*, h1, h2, h3, h4, h5, h6, div, p {
  font-family: 'Roboto', 'Helvatica', Tahoma, sans-serif;
}

.space-v-4 { margin: 4px 0px; }
.space-v-8 { margin: 8px 0px; }
.space-v-16 { margin: 16px 0px; }
.space-v-32 { margin: 32px 0px; }

.thin-font { font-weight: 300; }
.normal-font { font-weight: 400; }

.menu {
  background: #109ac6;
  color: white;
  padding: 10px;
}
.menu a {
  color: inherit;
}

textarea {
  height: 3rem;
  color: #666;
  padding: 12px 20px;
  background: #fff;
  box-shadow: none;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.tab {
  display: inline-block;
  width: 25px;
}

.table-title-width {
  width: 200px;
}

@media screen and (max-width: 768px) {

  textarea {
    padding: 10px 8px;
    font-size: 0.9rem;
  }

  .tab {
    width: 10px;
  }

  .table-title-width {
    width: 100px;
  }
}

#logs-info .result {
  padding: 6px 10px;
}

#grammar-tree-info {
  font-family: 'Courier New', 'Roboto', 'Helvatica', Tahoma, sans-serif !important;
  color: #666;
  font-size: 1rem;
  padding: 20px 35px;
}

.tabs-title > a {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {

  .tabs-title > a {
    font-size: 0.8rem;
  }

  #logs-info {
    padding: 10px 6px;
  }

  #logs-info .result {
    font-size: 0.8rem;
    padding: 2px;
  }

  #first-set-info, #follow-set-info, #parsing-table-info {
    font-size: 0.8rem;
  }

  #grammar-tree-info {
    font-size: 0.8rem;
    padding: 10px 12px;
  }
}



.callout.alert {
  background-color: #d2452e;
  color: #fff;
}
