*, h1, h2, h3, h4, h5, h6, div, p {
  font-family: 'Roboto', 'Helvatica', Tahoma, sans-serif;
}

.space-v-4 { margin: 4px 0px; }
.space-v-8 { margin: 8px 0px; }
.space-v-16 { margin: 16px 0px; }
.space-v-32 { margin: 32px 0px; }

.thin-font { font-weight: 300; }
.normal-font { font-weight: 400; }

.menu {
  background: #109ac6;
  color: white;
  padding: 10px;
}
.menu a {
  color: inherit;
}

textarea {
  height: 3rem;
  color: #666;
  padding: 12px 20px;
  background: #fff;
  box-shadow: none;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.tabs-title > a {
  font-size: 1rem;
}

.callout.alert {
  background-color: #d2452e;
  color: #fff;
}
